/LowerCaseExtensions.suo
/LowerCaseExtensions.v11.suo

/LowerCaseExtensions/bin/Debug/LowerCaseExtensions.exe
/LowerCaseExtensions/bin/Debug/LowerCaseExtensions.pdb
/LowerCaseExtensions/bin/Debug/LowerCaseExtensions.vshost.exe
/LowerCaseExtensions/bin/Debug/LowerCaseExtensions.vshost.exe.manifest
/LowerCaseExtensions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LowerCaseExtensions/obj/Debug/LowerCaseExtensions.MainForm.resources
/LowerCaseExtensions/obj/Debug/LowerCaseExtensions.csproj.FileListAbsolute.txt
/LowerCaseExtensions/obj/Debug/LowerCaseExtensions.csproj.GenerateResource.Cache
/LowerCaseExtensions/obj/Debug/LowerCaseExtensions.exe
/LowerCaseExtensions/obj/Debug/LowerCaseExtensions.pdb
/Backup/LowerCaseExtensions.sln
/Backup/LowerCaseExtensions.v11.suo
/Backup/LowerCaseExtensions/LowerCaseExtensions.csproj
/Backup/LowerCaseExtensions/MainForm.Designer.cs
/Backup/LowerCaseExtensions/MainForm.cs
/Backup/LowerCaseExtensions/MainForm.resx
/Backup/LowerCaseExtensions/Program.cs
/Backup/LowerCaseExtensions/Properties/AssemblyInfo.cs
/UpgradeLog.XML
/UpgradeLog.htm
/_UpgradeReport_Files/UpgradeReport.css
/_UpgradeReport_Files/UpgradeReport.xslt
/_UpgradeReport_Files/UpgradeReport_Error.png
/_UpgradeReport_Files/UpgradeReport_Information.png
/_UpgradeReport_Files/UpgradeReport_Success.png
/_UpgradeReport_Files/UpgradeReport_Warning.png
